# Ignore everything at root
/*

# Keep gitignore itself
!.gitignore

# ---- CODE FILES (all formats) ----
!code_original_datasets*
!code_harmonization*
!code_crop_maps*
!code_detectability_irrigated_areas*

# README
!README.md

# ---- FUNCTIONS FOLDER (keep everything) ----
!functions/
!functions/**

# ---- DATASETS STRUCTURE ----

# Allow datasets folder
!datasets/

# Ignore everything inside datasets
datasets/*

# Allow the irrigated_area_regridded folder
!datasets/irrigated_areas_regridded/

# Ignore everything inside it
datasets/irrigated_areas_regridded/*

# Keep only irrigated_areas datasets
!datasets/irrigated_areas_regridded/irrigated_areas*

# ---- RMarkdown artefacts ----
*_cache/
*_files/

# ---- RStudio ----
.Rproj.user

