# Ignore everything at root
/*

# Keep gitignore itself
!.gitignore

# ---- CODE FILES (all formats) ----
!code_original_datasets.Rmd
!code_original_datasets.R
!code_original_datasets.pdf

!code_harmonization.Rmd
!code_harmonization.R
!code_harmonization.pdf

!code_crop_maps.Rmd
!code_crop_maps.R
!code_crop_maps.pdf

!code_main_analysis.Rmd
!code_main_analysis.R
!code_main_analysis.pdf

# README
!README.md

# ---- FUNCTIONS FOLDER (keep everything) ----
!functions/
!functions/**

# ---- RMarkdown artefacts ----
*_cache/
*_files/

# ---- RStudio -----
.Rproj.user

